{% extends "index.html" %}
{% load static %}
{% load filters %}

{% block title %}
<title>Confirmation</title>
{% endblock %}

{% block body %}
    <!-- Header part end-->

    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>confirmation</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!--================ confirmation part start =================-->
    <section class="confirmation_part section_padding pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="confirmation_tittle">
                        <span>Thank you. Your order has been received.</span>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>Order Info</h4>
                        <ul>
                            <li>
                                <p>Order number</p><span>: {{ checkout.id }}</span>
                            </li>
                            <li>
                                <p>Date</p><span>: {{ checkout.date }}</span>
                            </li>
                            <li>
                                <p>Total</p><span>: &#8377;{{ checkout.total }}</span>
                            </li>
                            <li>
                                <p>Payment Method</p><span>: {{ request|paymentMode:checkout.paymentmode }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>Billing Address</h4>
                        <ul>
                            <li>
                                <p>Address</p><span>: {{ buyer.address }}</span>
                            </li>
                            <li>
                                <p>City</p><span>: {{ buyer.city }}</span>
                            </li>
                            <li>
                                <p>State</p><span>: {{ buyer.state }}</span>
                            </li>
                            <li>
                                <p>Pincode</p><span>: {{ buyer.pin }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>Shipping Address</h4>
                        <ul>
                            <li>
                                <p>Street</p><span>: 56/8</span>
                            </li>
                            <li>
                                <p>City</p><span>: Los Angeles</span>
                            </li>
                            <li>
                                <p>Country</p><span>: United States</span>
                            </li>
                            <li>
                                <p>Postcode</p><span>: 36952</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="order_details_iner">
                        <h3>Order Details</h3>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price X Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                <tr>
                                    <th colspan="2"><span>{{ item.product.name }}</span></th>
                                    <th>&#8377;{{ item.product.price }} x {{ item.qty }}</th>
                                    <th><span>&#8377;{{ item.total }}</span></th>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="3">Subtotal</th>
                                    <th><span>&#8377;{{ subtotal }}</span></th>
                                </tr>
                                <tr>
                                    <th colspan="3">Shipping</th>
                                    <th><span>&#8377;{{ shipping }}</span></th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="col" colspan="3">Total</th>
                                    <th scope="col"><span>&#8377;{{ total }}</span></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ confirmation part end =================-->

{% endblock %}
